## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [81]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [82]:
# Your code here
# ange(0,101) is equal to range(101)
sample_list_1 = []
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)
len(sample_list_1)

[25, 49, 45, 20, 69, 74, 36, 91, 70, 10, 57, 64, 21, 28, 88, 33, 4, 86, 87, 1, 26, 15, 96, 2, 11, 24, 8, 84, 41, 7, 72, 73, 60, 66, 63, 30, 37, 50, 44, 19, 68, 22, 32, 0, 18, 80, 85, 59, 67, 56, 42, 54, 38, 52, 35, 47, 39, 77, 9, 14, 94, 98, 99, 40, 55, 76, 27, 29, 58, 93, 95, 51, 79, 43, 12, 97, 16, 13, 34, 83]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [83]:
# Your code here
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [84]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
len(sample_list_2)

[63, 50, 46, 97, 97, 66, 93, 77, 52, 81, 31, 2, 2, 82, 86, 77, 48, 51, 6, 50, 67, 45, 48, 94, 5, 59, 87, 63, 93, 46, 5, 10, 4, 50, 2, 74, 78, 75, 8, 79, 33, 66, 12, 71, 55, 73, 2, 2, 45, 71, 3, 45, 59, 5, 16, 28, 48, 62, 11, 58, 89, 95, 58, 79, 11, 10, 11, 58, 70, 16, 76, 9, 91, 88, 69, 38, 6, 86, 54, 62]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [85]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
#Not 80 anymore, as sets only contain unique values, all duplicates are erased. random.randint chooses values duplicates

50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [86]:
# Your code here
# set3 = set1 only w/o overlap from set2
set3 = set1.difference(set2)
print(set3)
len(set3)

{0, 1, 7, 13, 14, 15, 18, 19, 20, 21, 22, 24, 25, 26, 27, 29, 30, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 47, 49, 56, 57, 60, 64, 68, 72, 80, 83, 84, 85, 96, 98, 99}

43

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [87]:
# Your code here
# set4 = set2 only w/o overlap from set1
set4 = set2.difference(set1)
print(set4)
len(set4)

{3, 5, 6, 71, 75, 46, 78, 48, 81, 82, 89, 62, 31}

13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [88]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
len(set5)

{2, 4, 8, 9, 10, 11, 12, 16, 28, 33, 38, 45, 50, 51, 52, 54, 55, 58, 59, 63, 66, 67, 69, 70, 73, 74, 76, 77, 79, 86, 87, 88, 91, 93, 94, 95, 97}

37

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [89]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
a = len(set3) + len(set5) == len(set1)
print(a)
b = len(set4)+len(set5) == len(set2)
print(b)

80
50
43
13
37
True
True

#### Create an empty set called `set6`.

In [90]:
# Your code here
set6 = set()
print(set6)
#type(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [91]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 63, 64, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 79, 80, 83, 84, 85, 86, 87, 88, 91, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [92]:
# Your code here
if set1 == set6:
    print('True')
else:
    print('False')

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [93]:
# Your code here
check1 = set2.issubset(set1)
print(check1)
check2 = set3.issubset(set1)
print(check2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [94]:
# Your code here
union3_4 = set3.union(set4)
union3_4_5 = union3_4.union(set5)
#print(union3_4_5)
union1_2 = set1.union(set2)
#print(union1_2)
if union1_2 == union3_4_5:
    print('Aggregated values are equal.')
else:
    print('Agregated vales are NOT equal.')

Aggregated values are equal.

#### Using the `pop` method, remove an element from `set1`.

In [96]:
# Your code here
print('removed:',set1.pop())

removed: 1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [97]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
#remove = set(list_to_remove)
#set1 = set1.difference(remove)
#print(set1)
if list_to_remove in set1:
    set1.remove(list_to_remove)
print(set1)

TypeError: unhashable type: 'list'